* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  position: relative;
  min-height: 100vh;
}

/* Buttons */
.shop-btn {
  padding: 10px 15px;
  margin-top: 20px;
  color: white;
  background-color: #333333;
  border: none;
  cursor: pointer;
}

.Link {
  text-decoration: none;
  color: black;
}

/* Header */

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
  min-width: 400px;
  font-size: 18px;
  box-shadow: 0 0 6px lightgray;
}

.nav-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 33.3%;
}

#logo {
  width: 33.3%;
}

#cart {
  display: flex;
  justify-content: flex-end;
  width: 33.3%;
}

.cart-content {
  display: flex;
  cursor: pointer;
}

.cart-content i, p {
  margin-left: 5px;
}

.nav-items {
  margin-right: 20px;
  cursor: pointer;
}

.nav-items:hover {
  text-decoration: underline;
}

/* Home */
.App {
  padding-bottom: 70px;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./hero.jpg');
  background-position: 100px -300px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-image h2 {
  color: white;
  font-size: 100px;
}

/* Showcase */

.showcase-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 20%;
  padding: 100px;
}

.showcase-img-container {
  text-align: center;
  margin-right: 20px;
  width: 500px;
}

.showcase-1 img {
  height: 500px;
}

.showcase-text {
  width: 500px;
  margin: 20px 0;
}

.showcase-text h3 {
  font-size: 30px;
}

.showcase-text p {
  margin-top: 20px;
  line-height: 1.6;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 20%;
  padding: 0 100px;
  margin: 40px;
}

.features div {
  width: 400px;
  margin: 20px;
}

.features img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.features h3 {
  margin-top: 20px;
}

.features p {
  margin-top: 20px;
  line-height: 1.6;
}

/* Newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: 20px;
  background-color: #eeeeee;
}

.newsletter h3 {
  font-size: 30px;
}

.newsletter form {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.news-input {
  padding: 10px;
  font-size: 16px;
  width: 30%;
  min-width: 290px;
  border: 1px solid lightgray;
}

.news-submit-btn {
  padding: 11px;
  color: white;
  background-color: #333333;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: white;
  height: 100px;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.footer-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 320px;
  min-width: 400px;
}

.social-container {
  list-style: none;
  display: flex;
}

.social-container li {
  margin-right: 20px;
  cursor: pointer;
}

/* Products */

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 70px;
}

.products-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  width: 70%;
  margin: 40px 0;
}

.product {
  width: 300px;
  margin: 25px 15px;
  cursor: pointer;
}

.product img {
  height: 200px;
  object-fit: cover;
}

.product-titles {
  font-weight: bold;
}

.product p {
  text-align: start;
  margin-top: 10px;
}

/* Product Page */
.product-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  height: 100%;
}

.product-page-contents {
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
}

.product-page-img-container {
  width: 479.5px;
}

.product-page-contents img{
  height: 500px;
}

.product-page-content {
  width: 479.5px;
  padding: 40px 0;
}

.product-page-title {
  font-size: 35px;
}

.product-page-price {
  margin-top: 20px;
  font-size: 20px;
}

.product-page-quantity {
  margin-top: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.quantity {
  padding: 10px;
  width: 40px;
}

.product-page-button {
  margin-top: 40px;
}

.add-to-cart {
  padding: 15px;
  border: 1px solid black;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

.add-to-cart:hover {
  opacity: 0.8;
}

.buy-now {
  padding: 15px;
  margin-top: 10px;
  color: white;
  border: 1px solid #333333;
  background-color: #333333;
  width: 100%;
  cursor: pointer;
}

.buy-now:hover {
  opacity: 0.8;
}

.product-page-description {
  margin-top: 40px;
}

/* Cart */

.cart-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.cart-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.cart-header p {
  margin-top: 20px;
  text-decoration: underline;
}

.cart-contents {
  /* border: 1px solid black; */
  min-width: 480px;
  width: 50%;
}

.table-header {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.table-header-1 {
  width: 70%;
}

/* .table-header-2 {
  border: 1px solid black;
  width: 10%;
}
.table-header-3 {
  border: 1px solid black;
  width: 10%;
}
.table-header-4 {
  border: 1px solid black;
  width: 10%;
} */

.cart-product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}

.cart-product img {
  height: 150px;
  /* margin: 0 20px; */
}

.cart-img-container {
  width: 160px;
}

.cart-product-title-cont {
  width: 55%;
  height: 140px;
  /* padding: 0 40px; */
  margin-left: 40px;
}

.cart-product-title {
  font-weight: bold;
}

.cart-product-remove {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
  width: 60px;
}

.cart-product-price {
  width: 10%;
  text-align: end;
}

.cart-product-quantity {
  width: 10%;
  text-align: end;
}

.cart-product-quantity input {
  width: 40px;
  /* height: 30px; */
  padding: 5px;
}

.cart-product-total {
  width: 10%;
  text-align: end;
}

.total-container {
  text-align: end;
  width: 950px;
  margin: 60px;
}

.total-container div {
  display: flex;
  justify-content: flex-end;
}

.subtotal {
  margin-right: 20px;
}

.checkout-btn {
  padding: 10px 15px;
  margin-top: 40px;
  color: white;
  background-color: #333333;
  border: none;
  cursor: pointer;
}

